<mat-toolbar class="footer col-8 d-flex">
    <div class="card border-0">
        <div class="card-header">
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{active: home()}" data-toggle="tab" href="javascript:void(0)" role="tab" [routerLink]="['/app']" routerLinkActive="router-link-active">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{active: students()}" data-toggle="tab" href="javascript:void(0)" role="tab" [routerLink]="['/app/students']" routerLinkActive="router-link-active">
                        Students
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{active: goals()}" data-toggle="tab" href="javascript:void(0)" role="tab" [routerLink]="['/app/goals']" routerLinkActive="router-link-active">
                        Goals
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{active: progress()}" data-toggle="tab" href="javascript:void(0)" role="tab" [routerLink]="['/app/progress']" routerLinkActive="router-link-active">
                        Progress
                    </a>
                </li>
            </ul>
        </div>
    </div>
</mat-toolbar>