<mat-toolbar class="footer col-10 d-flex">
    <div class="card border-0">
        <div class="card-header">
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item text-center" [routerLink]="['/app']" routerLinkActive="router-link-active">
                    <mat-icon [ngClass]="{active: home()}">home</mat-icon>
                    <a class="nav-link" [ngClass]="{active: home()}" data-toggle="tab" href="javascript:void(0)" role="tab">
                        Home
                    </a>
                </li>

                <li class="nav-item text-center" [routerLink]="['/app/students']" routerLinkActive="router-link-active">
                    <mat-icon [ngClass]="{active: students()}">account_circle</mat-icon>
                    <a class="nav-link" [ngClass]="{active: students()}" data-toggle="tab" href="javascript:void(0)" role="tab">
                        Students
                    </a>
                </li>

                <li class="nav-item" [routerLink]="['/app/goals']" routerLinkActive="router-link-active">
                    <mat-icon [ngClass]="{active: goals()}">stars</mat-icon>
                    <a class="nav-link" [ngClass]="{active: goals()}" data-toggle="tab" href="javascript:void(0)" role="tab">
                        Goals
                    </a>
                </li>
                
                <li class="nav-item"  [routerLink]="['/app/progress']" routerLinkActive="router-link-active">
                    <mat-icon [ngClass]="{active: progress()}">timeline</mat-icon>
                    <a class="nav-link" [ngClass]="{active: progress()}" data-toggle="tab" href="javascript:void(0)" role="tab">
                        Progress
                    </a>
                </li>
            </ul>
        </div>
    </div>
</mat-toolbar>