<app-header [title]="'Sign up'">
</app-header>

<div class="container col-md-8 pb-5 mt-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-md-8" [formGroup]="mainForm">
                <h1>Sign up</h1>

                <div class="row">
                    <mat-form-field class="col-xl-6 col-md-12 col-sm-12">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name">
                        <button *ngIf="mainForm.get('name').value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error>
                            {{getError('name')}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-xl-6 col-md-12">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email">
                        <button *ngIf="mainForm.get('email').value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error>
                            {{getError('email')}}
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <mat-form-field class="col-xl-6 col-md-12 col-sm-12">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" formControlName="username">
                        <button *ngIf="mainForm.get('username').value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error>
                            {{getError('username')}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-xl-6 col-md-12">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                        <button *ngIf="mainForm.get('password').value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error>
                            {{getError('password')}}
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <mat-form-field class="col-xl-6 col-md-12 col-sm-12">
                        <mat-label>Congregation</mat-label>
                        <mat-select formControlName="congregationId">
                            <mat-option>Clear</mat-option>
                            <mat-option *ngFor="let item of congregations"
                                [value]="item.congregationId">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-error>
                            {{getError('congregationId')}}
                        </mat-error>
                    </mat-form-field>
                    
                    <div class="col-xl-6 col-md-12 col-sm-12">
                        <mat-label>If your congregation is not in this list yet, please 
                            <a href="mailto:eliangarciarguez@gmail.com">contact us</a> to add it.
                        </mat-label>
                        
                    </div>
                </div>
                
                <div class="row">
                    <mat-form-field class="col-xl-12 col-md-12 col-sm-12">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="countryId">
                            <mat-option>Clear</mat-option>
                            <mat-option *ngFor="let item of countries"
                                [value]="item.countryId">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-error>
                            {{getError('countryId')}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <hr>

                <div class="row justify-content-around m-3">
                    <input type="submit" class="col-4 btn d-block btn-dark" value="Back to Login"
                        [routerLink]="['/auth/login']" routerLinkActive="router-link-active" />
                    <input type="submit" class="col-4 btn d-block btn-dark" value="Sign up" (click)="register()" />
                </div>

            </div>
        </div>
    </div>
</div>