<mat-card class="example-card justify-content-center mt-2">
  <mat-card-header>
    <mat-card-title>{{getMonth()}}</mat-card-title>
    <div>
      <!-- <a style="color: black;" [href]="getLink()"><mat-icon >share</mat-icon></a> -->
      <a style="color: black;" href="javascript:void(0)" (click)="copyToClipboard()"><mat-icon>content_copy</mat-icon></a>
    </div>
  </mat-card-header>

  <mat-card-content>
    <br />
    <table style="width:100%" class="justify-content-center">
      <tr>
        <th>Hours</th>
        <th>Placements</th>
        <th>Videos</th>
        <th>Return Visits</th>
      </tr>

      <br />

      <tr>
        <td>{{hoursCount}}</td>
        <td>{{placementsCount}}</td>
        <td>{{videosCount}}</td>
        <td>{{returnVisitsCount}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>