.example-card {
  max-width: 100%;
}

.headers > .nav-item {
  font-size: large;
}

.nav-item {
  font-weight: 500;
  font-size: large;
}

table, th, td {
  border: 0 solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: large;
}

::ng-deep .mat-card-header-text {
  margin: 0 16px;
  text-align: center;
  width: 97%;
}

mat-card {
  background-color: #f1efd5;
}

.cardFooter {
  border-top: 1px solid #131212;
}

.cardBody > td {
  padding-bottom: 8px;
}

.cardFooter > td {
  padding-top: 8px;
  
}

@media (max-width: 600px) {
  th {
    font-size: medium;
  }
}