<mat-card class="example-card justify-content-center mt-2">
  <mat-card-header class="justify-content-center">
    <mat-card-title>{{getMonth()}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br />
    <table style="width:100%" class="justify-content-center">
      <tr>
        <th>Horas</th>
        <th>Publicaciones</th>
        <th>Videos</th>
        <th>Revisitas</th>
      </tr>
      <br />
      <tr>
        <td>{{hoursCount}}</td>
        <td>{{placementsCount}}</td>
        <td>{{videosCount}}</td>
        <td>{{returnVisitsCount}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>