<app-header 
    [title]="'Password Reset'">
</app-header>

<div class="container col-md-8 pb-5 mt-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-md-8" [formGroup]="mainForm">
                <h1>Password Reset</h1>

                <span>
                    Please enter your new password. Please try to make it as strong as possible as it will be used to
                    keep your data safe.
                </span>

                <mat-form-field class="col-12 mt-3">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <button *ngIf="mainForm.get('password').value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>
                        {{mainForm.get('password').errors}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-12 mt-3">
                    <mat-label>Confirm the password</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <button *ngIf="mainForm.get('passwordConfirm').value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>
                        {{mainForm.get('passwordConfirm').errors}}
                    </mat-error>
                </mat-form-field>

                <div class="row justify-content-around m-3">
                    <button class="col-5 btn btn-outline-dark" [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Back to Login</button>
                    <input type="submit" class="col-5 btn d-block btn-dark" value="Set password" (click)="reset()" />
                </div>
            </div>
        </div>
    </div>
</div>