input[type="number"] {
    text-align: center;
    border: 1px transparent;
    border-radius: 50% 20% / 10% 40%;
    background-color: #f1efd5;
}

input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    width: 120px;
    margin-right: 4px;
    margin-left: 4px;
    font-size: 1.5rem;
}

  .xc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input:disabled {
    color: #000 !important;
  }