<app-header [title]="'About'">
</app-header>

<div class="container col-md-8 pb-5">
    <div class="row">
        <div class="col-12">
            <div class="card justify-content-center">
                <div class="cover-photo"></div>
                
                <h1 class="mt-4">About the Service Report App</h1>
                <p>This is a simple app to help you track your service.</p>

                <p>It was created by 
                    <a href="https://www.linkedin.com/in/elian-garcia-rguez/" target="_blank">Elian Garcia</a>.
                </p>

                <p>If you need some help, feel free to 
                    <a href="mailto:eliangarciarguez@gmail.com" target="_blank">contact us</a>.
                </p>

                <h1 class="text-center pt-5">About the software developer</h1>

                <img src="https://i.imgur.com/KykRUCV.jpeg" class="profile">

                <h3 class="profile-name">Elian Garcia</h3>

                <p class="about">
                    Full-Stack Developer | Front End Developer
                </p>

                <p class="font-italic">
                    Angular | C# | .NET | SQL Server | JavaScript | TypeScript | HTML | CSS
                </p>

                <div class="icons">
                    <mat-icon>linkedin</mat-icon>
                    <mat-icon>git</mat-icon>
                    <mat-icon>youtube</mat-icon>
                    <mat-icon>instagram</mat-icon>
                </div>

                <hr>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>