<mat-toolbar>
    <span>
        <button mat-icon-button class="example-icon" *ngIf="showBackButton"
            [routerLink]="[backRoute]" routerLinkActive="router-link-active" >
            <mat-icon>keyboard_backspace</mat-icon>
        </button>

        {{title}}
    </span>

    <span class="example-spacer"></span>
    
    <button mat-icon-button class="example-icon" *ngIf="showAddStudent"
        [routerLink]="['/app/students/form']" routerLinkActive="router-link-active" >
        <mat-icon>person_add</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" *ngIf="showEditGoal"
        [routerLink]="['/app/goals/form']" routerLinkActive="router-link-active" >
        <mat-icon>mode_edit</mat-icon>
    </button>
    
    <article *ngIf="showCalendar">
        <input mat-icon-button class="example-icon datepicker" 
            [(ngModel)]="dateSelected"
            [matDatepicker]="releasedAtPicker" 
            (click)="releasedAtPicker.open()"
            disabled
            [max]="maxDate"
            (dateChange)="sendDate()">
    
        <mat-datepicker-toggle matSuffix 
            [for]="releasedAtPicker" 
            [disabled]="false">

        </mat-datepicker-toggle>
    
        <mat-datepicker #releasedAtPicker 
            [disabled]="false">
            
        </mat-datepicker>
    </article>
    
    <button mat-icon-button class="example-icon" *ngIf="showMenu" [matMenuTriggerFor]="menu" aria-label="Menu icon button">
        <mat-icon>more_vert</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/app/shared/about']" routerLinkActive="router-link-active" >About</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
</mat-toolbar>